@page "/about"
@rendermode InteractiveServer

<PageTitle>Acerca de Zona Esencial</PageTitle>

<div class="container my-5">
    <h1 class="text-center mb-4">Sobre Nosotros</h1>

    <p class="text-center">
        Bienvenido a **Zona Esencial**, un espacio dedicado a compartir conocimiento y pasiones.
        Esta aplicación web fue creada por:
    </p>

    <div class="row justify-content-center mt-5">

       
        <div class="col-md-4 mb-4">
            
            <div class="card shadow-lg border-0">

                <div class="text-center pt-4 pb-2">
                    <img src="/cristian.jpg" class="img-perfil" alt="Cristian Félix" />
                </div>

             
                <div class="card-body text-center">
                    <h5 class="card-title mt-2">Cristian Félix</h5>
                    <p class="card-text">Desarrollador web y programador principal de Zona Esencial.</p>
                    <a href="https://github.com/" target="_blank" class="btn btn-dark btn-sm mt-2">GitHub</a>
                </div>
            </div>
        </div>
      
        <div class="col-md-4 mb-4">
            
            <div class="card shadow-lg border-0">

                <div class="text-center pt-4 pb-2">
                    <img src="/abraham.jpg" class="img-perfil" alt="Abrahán" />
                </div>

               
                <div class="card-body text-center">
                    <h5 class="card-title mt-2">Abrahán</h5>
                    <p class="card-text">Diseñador y colaborador creativo de Zona Esencial.</p>
                    <a href="https://github.com/Hyun-Musashi" target="_blank" class="btn btn-dark btn-sm mt-2">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}